/* Global CSS */

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: "Roboto", sans-serif;
  -moz-osx-font-smoothing: "Roboto", sans-serif;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

:root {
  --primary: #2C5F2D;
  --heading-color: #0a80a3;
  --bg-shade: #8AAAE5;
  --github: #e62872;
  --darkblue: #1c1e53;
  --black: #000000;
  --white: #ffffff;
}

.btn {
  font-family: "Roboto";
  display: inline-block;
  padding: 14px 32px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
  --webkit-border-radius: 5px;
  --moz-border-radius: 5px;
  --ms-border-radius: 5px;
  --o-border-radius: 5px;
  transition: background-color 0.5s;
  --webkit-transition: background-color 0.5s;
  --moz-transition: background-color 0.5s;
  --ms-transitions: background-color 0.5s;
  --o-transition: background-color 0.5s;
}

/* button hover effect */
.btn-outline-primary {
  color: var(--primary);
  background-color: var(--white);
  border: 1px solid var(--primary);
}
.btn-outline-primary:hover {
  color: var(--white);
  background-color: var(--primary);
}
.btn-primary {
  color: var(--white);
  background-color: var(--primary);
  border: 1px solid var(--primary);
}
.btn-primary:hover {
  color: var(--primary);
  background-color: var(--white);
}

/* */
.btn-github {
  color: var(--white);
  background-color: var(--primary);
  border: var(--github);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.95);
  gap: 16px;
}
.btn-github:hover {
  color: var(--github);
  background-color: var(--white);
}

/* Global CSS end */
/* Main Heading */

/* Heading 1 */
h1 {
  font-size: 56px;
  font-weight: 700;
  line-height: 67px;
}
/* Heading 2 */
h2 {
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
}
/* Heading 3 */
h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 34px;
}

/* Paragraphs Sizing */
/* Body 1 */
.text-lg {
  color: var(--darkblue);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
}
/* Body 2 */
.text-md {
  color: var(--darkblue);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
/* Body 3 */
.text-sm {
  color: var(--black);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
}

/* Section Title */
/* Skills & About me */
.section--title {
  color: var(--black);
  font-size: 21px;
  text-align: center;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  display: flex;
  align-items: flex-start;
}
/* Portfolio and Contact me */
.sub--title {
  color: var(--black);
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}
/* Section Titles Ends */

/* Navbar Styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 85.33px;
  background-color: var(--white);
  box-shadow: 0px 5.333px 80px 0px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
.navbar--items > ul {
  list-style: none;
  display: flex;
  align-items: flex-start;
  gap: 42.667px;
  text-decoration: none;
}
.navbar--items ul > li > a {
  text-decoration: none;
}

/* Navbar Content */

.logo {
  height: 40px;
  fill: none;
}

.navbar--content {
  color: var(--darkblue);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  cursor: pointer;
}

.navbar--active-content {
  color: var(--primary);
}

/* Navbar Style Ends */
/* Hero Section */
.hero--section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 133.33px 85.33px 133.33px;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
  background-color: var(--bg-shade);
}

.hero--section--content-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
}
.hero--section--content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 21.33px;
}

.hero--section--content-box > button {
  margin-top: 21.333px;
}

.hero--section--title {
  color: var(--heading-color);
  font-size: 74.66px;
  font-weight: 700;
  line-height: 90px;
  align-self: stretch;
}

.hero--section--title--color {
  color: var(--primary);
}
.hero--section--description {
  color: var(--darkblue);
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
}

.hero--section--img {
  display: flex;
}
.hero--section--img > img {
  width: 100%;
  height: 100%;
}
/* Hero Section Ends */
/* Skills Sections Styles */
.skills--section {
  display: flex;
  padding: 149.33px 85.33px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 106.667px;
}
.skills--section--heading {
  color: var(--heading-color);
  font-size: 64px;
  font-weight: 700;
  line-height: 77px;
}
.skills--section-container {
  display: grid;
  justify-content: center;
  align-items: flex-start;
  gap: 42.66px;
  grid-template-columns: repeat(4, 1fr);
}
.skills--section--card {
  display: flex;
  padding: 32px;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  flex: 1 0 0;
  border-radius: 10.6px;
  background-color: var(--bg-shade);
  min-height: 550px;
}

.skills--section--card:hover {
  border-bottom: 4px solid var(--primary);
}
.skills--section--card:hover .skills--section--description {
  color: var(--darkblue);
}

.skills--section-img {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 13.3px;
  gap: 13.3px;
  border-radius: 10.6px;
  background: #fff;
  box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.1);
}

.skills--section-img img{
  height: 50px;
  width: 50px;
  fill: none;
}

.skills--section--card--content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  gap: 32px;
}
.skills--section--title{
    color: var(--heading-color);
    font-size: 32px;
    font-weight: 700;
    line-height: 45px;
}
.skills--section--description{
    color: var(--black);
    font-size: 23.3px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}

/* Skills Sections Styles End */
/* About Me*/
.about--section{
    display: grid;
    padding: 133.3px 85.3px;
    align-items: center;
    gap: 114.6px;
    grid-template-columns: repeat(2, 1fr);
}

.about--section--img > img {
    width: 100%;
    height: 100%;
}

/* My Portfolio */
.portfolio--section {
    display: flex;
    padding: 112px 85px;
    flex-direction: column;
    align-items: flex-start;
    gap: 80px;
  }
  .portfolio--container-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .portfolio--container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 21.3px;
  }
  .portfolio--section--container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 42.6px;
    width: 100%;
  }
  .portfolio--section--img {
    border-radius: 8px;
    width: 100%;
  }

  .portfolio--section--img img {
    width: 100%;
    height: 100px;
  }
  .portfolio--section--card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    flex: 1 0 0;
    background: #fff;
    box-shadow: 0 0 32px 0 rgba(0, 0, 0, 0.15);
    cursor: pointer;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
  }
  .portfolio--section--card--content {
    display: flex;
    padding: 32px;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    align-self: stretch;
  }
  .portfolio--section--title {
    color: var(--heading-color);
  }
  .portfolio--link {
    text-decoration: none;
    display: flex;
    gap: 16px;
    border-bottom: 1.33px solid var(--primary);
    padding-bottom: 10.6px;
    font-weight: 600;
  }
  .portfolio--section--card:hover path {
    stroke: #006b6a;
  }
/* Portfolio Ends */
/* Footer Section */
.footer-section {
    display: flex;
    padding: 112px 85px;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
    background-color: var(--bg-shade);
}
.footer--container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
    padding: 100px;
    border-radius: 25px;
    background-color: var(--white);
}
.footer--title{
    color: var(--black);
    font-size: 60px;
    text-align: center;
    font-style: normal;
    font-weight: 600;
    display: flex;
    align-items: flex-start;
}
.footer--email{
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    text-align: center;
    font-style: normal;
    line-height: 32px;
}
/* Footer End */
/* Responsive Screens */
@media only screen and (max-width: 1800px) {
    .hero--section--title {
      font-size: 68px;
      line-height: 70px;
    }
    .skills--section--title {
      font-size: 28px;
      line-height: 40px;
    }
  }
  
  @media only screen and (max-width: 1600px) {
    .skills--section--heading {
      font-size: 54px;
      line-height: 70px;
    }
    .skills--section--container {
      gap: 16px;
    }
    .skills--section--card {
      gap: 28px;
    }
    .skills--section--card--content {
      gap: 20px;
    }
    .skills--section--title {
      font-size: 23px;
      line-height: 30px;
    }
    .skills--section--description {
      font-size: 17.333px;
      line-height: 27px;
    }
  }
  
  @media only screen and (max-width: 1200px) {
    .btn-outline-primary {
      display: none;
    }
    .hero--section {
      display: flex;
      flex-direction: column-reverse;
      padding-bottom: 70px;
    }
    .hero--section--title,
    .hero--section-description,
    .footer--content {
      text-align: center;
    }
    .skills--section--container,
    .about--section,
    .portfolio--section--container,
    .portfolio--container-box,
    .footer--link--container,
    .footer--items > ul,
    .footer--content--container {
      display: flex;
      flex-direction: column;
    }
    .skills--section,
    .portfolio--container,
    .hero--section--content,
    .hero--section--content--box {
      align-items: center;
    }
    .portfolio--container-box {
      gap: 30px;
    }
    .skills--section,
    .testimonial--section,
    .contact--section,
    .footer--container {
      gap: 20px;
      padding-top: 70px;
      padding-bottom: 70px;
    }
    .about--section {
      gap: 20px;
      padding-top: 0;
      padding-bottom: 0;
    }
    .testimonial--section--card {
      padding: 25px;
    }
    .hero--section--title,
    .skills--section--heading,
    .sections--heading {
      font-size: 35px;
      line-height: 40px;
    }
    .hero--section--content--box {
      gap: 10px;
    }
    .contact--form--container {
      width: 100%;
    }
    .container {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
    .footer--social--icon > ul,
    .footer--items > ul {
      padding: 0;
      align-items: center;
    }
    .divider {
      margin: 20px;
    }
  }
  
  /* Hamburger menu  */
  
  .nav__hamburger {
    display: none;
    width: 1.875rem;
    height: 1.313rem;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    top: 25px;
    right: 25px;
  }
  
  .nav__hamburger__line {
    display: block;
    height: 0.188rem;
    width: 100%;
    background-color: #000000;
    border-radius: 0.625rem;
    transition: all ease-in-out 0.2s;
  }
  
  @media screen and (max-width: 1200px) {
    .nav__hamburger {
      display: flex;
      z-index: 200;
    }
    .navbar--items {
      display: flex;
    }
    .navbar--items {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: rgba(255, 255, 255);
      top: -20rem;
      left: 0;
      width: 100%;
      transition: all ease-in-out 0.4s;
    }
    .navbar--items ul {
      flex-direction: column;
      align-items: center;
      width: 100%;
      padding: 3rem 0 0.6rem;
      z-index: -100;
    }
    .navbar--items ul li {
      text-align: center;
    }
    .navbar--items ul li a {
      padding: 0.5rem;
    }
    .navbar--items {
      z-index: -1000;
    }
    .navbar--items.active {
      top: 30px;
    }
    .nav__hamburger.active :nth-child(1) {
      transform: rotate(45deg) translate(0.45rem, 0.1875rem);
    }
  
    .nav__hamburger.active :nth-child(2) {
      opacity: 0;
    }
  
    .nav__hamburger.active :nth-child(3) {
      transform: rotate(-45deg) translate(0.45rem, -0.1875rem);
    }
  }
  
  /* Responsive Screens Ends*/